.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.container{
  align-content: center;
  text-align: center;
}

.film-releases{
  display: inline-block;
  text-align: center;
  background-color: teal;
  border: solid;
  width: 70%;
}

.more-releases{
  border: solid;
  text-align: center;
  margin: 10px;
  padding: 10px;;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
